<!DOCTYPE html>
<html>

<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <title>Mars Facts!</title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class='row'>
        <div class="col-md-8">
            <h1>All about mars!</h1>
        </div>
        <div class="col-md-4">
            <a class="btn btn-primary btn-lg" href="/hemispheres" role="button">Hemispheres!</a>
            <a class="btn btn-primary btn-lg" href="/scrape" role="button">MARS IT!</a>
        </div>
        </div>
        <div class ="row">
         <div class="col-md-8">
            <p><h2>{{data['news']['title']}}</h2></p>
            <p>{{data['news']['p']}}</p>
         </div>
        </div>
        <div class="row">
            <div clsas='col-md-4'>
                <img width=600px src= {{data['image_url']}}>
            </div>
            <div class="col-md-5">
                <span class="align-middle">
                <P>{{data.weather}}</P>
                </span>
                <p>{{data['facts']|safe}}</p>
            </div>
        </div>
    </div>
</body>

</html>